{{! This is the post loop - each post will be output using this markup }}

<div class="components">
  <div class="components__container">
    {{#foreach posts}}
      <article class="components__component">
        <div class="components__component__image" style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.15) 100%), url('{{image}}') no-repeat; background-size: cover; background-position: 50%;">
          <a class="components__component__link" href="{{url}}"></a>
        </div>
        <div class="components__component__details">
          <div class="components__component__actions">
            <a href="#" class="btn btn-round btn-grey">
              <span class="icon-attachment"></span>
            </a>
          </div>
          <h3><a href="{{url}}">{{{title}}}</a></h3>
          <p>{{meta_description}}</p>
          <div class="components__component__stats">
            <span>#</span>{{tags separator="<span>#</span>"}}
          </div>
        </div>
      </article>
    {{/foreach}}
  </div>
  <div class="components__sidebar">
    <ul>
      <div class="section">
        Popular
      </div>
      <li><a href="/tag/react">React</a></li>
      <li><a href="/tag/react">Angular</a></li>
      <li><a href="/tag/react">React</a></li>
      <li><a href="/tag/react">Angular</a></li>
      <div class="section">
        Featured
      </div>
      <li><a href="/tag/react">React</a></li>
      <li><a href="/tag/react">Angular</a></li>
      <li><a href="/tag/react">React</a></li>
      <li><a href="/tag/react">Angular</a></li>
      <li><a href="/tag/react">React</a></li>
      <li><a href="/tag/react">Angular</a></li>
      <li><a href="/tag/react">React</a></li>
      <li><a href="/tag/react">Angular</a></li>
    </ul>
  </div>

</div>


{{! Previous/next page links - displayed on every page }}
{{pagination}}
