{{! This is the post loop - each post will be output using this markup }}

<div class="components">
  <div class="components__container">
    {{#foreach posts}}
      <article class="components__component">
        <div class="components__component__image" style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.15) 100%), url('{{image}}') no-repeat; background-size: cover; background-position: 50%;">
          <a class="components__component__link" href="{{url}}"></a>
        </div>
        <div class="components__component__details">
          <div class="components__component__actions">
            <a href="#" class="btn btn-round btn-grey">
              <span class="icon-attachment"></span>
            </a>
          </div>
          <h3><a href="{{url}}">{{{title}}}</a></h3>
          <p>{{meta_description}}</p>
          <div class="components__component__stats">
            <span>#</span>{{tags separator="<span>#</span>"}}
          </div>
        </div>
      </article>
    {{/foreach}}
  </div>
  <div class="components__sidebar">
    <ul>
      <div class="section">
        Tags
      </div>
      <li><a href="/tag/canvas">Canvas</a></li>
      <li><a href="/tag/card">Card</a></li>
      <li><a href="/tag/date-time">Date &amp; Time</a></li>
      <li><a href="/tag/drag-drop">Drag &amp; Drop</a></li>
      <li><a href="/tag/filter">Filter</a></li>
      <li><a href="/tag/flux">Flux</a></li>
      <li><a href="/tag/game">Game</a></li>
      <li><a href="/tag/graph">Graph</a></li>
      <li><a href="/tag/infinite-scroll">Infinite Scroll</a></li>
      <li><a href="/tag/input">Input</a></li>
      <li><a href="/tag/javascript">Javascript</a></li>
      <li><a href="/tag/list">List</a></li>
      <li><a href="/tag/markdown">Markdown</a></li>
      <li><a href="/tag/media">Media</a></li>
      <li><a href="/tag/menu">Menu</a></li>
      <li><a href="/tag/menu">Navigation</a></li>
      <li><a href="/tag/react">React</a></li>
      <li><a href="/tag/react-motion">React Motion</a></li>
      <li><a href="/tag/scrolling">Scrolling</a></li>
      <li><a href="/tag/table">Table</a></li>
      <li><a href="/tag/validation">Validation</a></li>
      <li><a href="/tag/visualization">Visualization</a></li>
    </ul>
  </div>

</div>


{{! Previous/next page links - displayed on every page }}
{{pagination}}
