<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/base.css"}}" />

    <!-- Modernizr -->
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
  	<!-- / Modernizr -->

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}} nav-closed">

    {{navigation}}

    <div class="site-wrapper">

        {{! Everything else gets inserted here }}
        <main class="cd-main-content content" id="content" role="main">
          {{{body}}}
        </main>

        <footer class="site-footer clearfix footer">
          <div class="footer__container">
            <section class="footer__content">
              <a href="/">
                <svg width="58px" height="24px" viewBox="0 0 53 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                    <!-- Generator: Sketch 3.3.2 (12043) - http://www.bohemiancoding.com/sketch -->
                    <title>solid.</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                        <g id="Desktop" sketch:type="MSArtboardGroup" transform="translate(-24.000000, -14.000000)" font-weight="bold" font-family="Montserrat" line-spacing="36" letter-spacing="-1.22222209" font-size="22" fill="#422A8C">
                            <g id="1" sketch:type="MSLayerGroup">
                                <text id="solid." sketch:type="MSTextLayer">
                                    <tspan x="24" y="32">solid.</tspan>
                                </text>
                            </g>
                        </g>
                    </g>
                </svg>
              </a>
              <p>Solid UI brings together the best UI components from around the web.</p>
            </section>
            <section class="footer__links">
              <div class="footer__links__cell">
                <h5>Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
              <div class="footer__links__cell">
                <h5>Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
              <div class="footer__links__cell">
                <h5>Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
              <div class="footer__links__cell">
                <h5>Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </section>
          </div>
          <div class="footer__copyright">
            © 2015 Copyright <a href="/">Solid UI</a>
          </div>
        </footer>

    </div>

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript">
      $(document).bind("mobileinit", function () {
          $.mobile.ajaxEnabled = false;
      });
    </script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js"></script>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>

    {{! The main JavaScript files for Solid }}
    <script type="text/javascript" src="{{asset "js/shared.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/page.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/post.min.js"}}"></script>
</body>
</html>
